$color-white: #fff;
$color-gray: #c4c4c4;
$color-black: #000;
$color-purple: #9390BB;
$color-dark-purple: #777396;
$color-pink: #D30073;
$color-dark-pink: #B50073;
$color-red: #EB756B;
$color-dark-red: #ec4b3d;

$container-max-width: 915px;
$section-padding-desktop: 80px;
$section-padding-tablet: 32px;
$section-padding-mobile: 16px;

$breakpoint-desktop: 1439px;
$breakpoint-laptop: 1099px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 374px;
